.wrapper {
    height: 1000px;
    width: 2000px;
    line-height: 100%;
    text-align: center;
    vertical-align: top;
}

.wrapper h1 {
    margin-top: -116px;
}

@font-face {
    font-family: ninjaline;
    src: url("css/fonts/ninjaline.ttf"); 
}

.jumbotron {
    font-family: ninjaline;
}

img{
    width: 100%;
    height: 28%;
}
div .cards {
    display: flex;
    text-align: center;
    vertical-align: top;
}

p img {
    margin-bottom: 2px;
    height: 40px;
    width: auto;
}

.reset button {
    width: 100%;
}

.btn {
    margin: 10px;
    display: inline-block;
}